<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="10;URL='./switch_games.json'" />
</head>
<body>
    Last update: {last_update} UTC

    Redirecting you <a href="./switch_games.json">here</a>.
</body>
</html>
