<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Last update: {last_update} UTC</p>

    <p>Options: <a href="./switch_games.json">switch_games.json</a> | <a href="./switch_id_names.json">switch_id_names.json</p>
</body>
</html>
